<mat-drawer-container
  style="min-height: 90vh; margin-top: -1.5em"
  class="example-container"
  *ngIf="enrollment._id != ''"
>
  <mat-drawer style="width: 300px" mode="side" opened>
    <mat-action-list style="padding-top: 0">
      <mat-list-item
        [ngClass]="selectedLesson == null ? 'selected' : ''"
        (click)="selectItem(null)"
      >
        <mat-icon mat-list-icon>info</mat-icon>
        <h3 mat-line>Course Overview</h3>
      </mat-list-item>
    </mat-action-list>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <h2 mat-line>{{ enrollment.lessonStatus.length }} Lessons</h2>
      </mat-list-item>
    </mat-list>
    <mat-action-list>
      <mat-list-item
        [ngClass]="status.lesson == selectedLesson?.lesson ? 'selected' : ''"
        (click)="selectItem(status)"
        *ngFor="let status of enrollment.lessonStatus; let i = index"
      >
        <span
          style="border: solid thin grey; margin-right: 0.3em"
          fxLayout="row"
          fxLayoutAlign="center center"
          mat-list-avatar
        >
          <span>{{ i + 1 }}</span>
        </span>
        <h3 style="display: contents; line-height: 1.8">
          {{ status.lesson.title }}
        </h3>
        <div class="flex-spacer"></div>

        <mat-radio-group
          style="margin-right: -5.5px"
          *ngIf="!status.complete"
          [(ngModel)]="checked"
        >
          <mat-radio-button
            [value]="status.complete"
            disabled
          ></mat-radio-button>
        </mat-radio-group>
        <mat-icon *ngIf="status.complete" style="color: green"
          >check_circle</mat-icon
        >
      </mat-list-item>
    </mat-action-list>
    <mat-divider></mat-divider>
    <mat-list class="bg-primary">
      <mat-list-item fxLayout="row" fxLayoutAlign="center center">
        <p style="text-align: center; color: #fff">
          <strong>{{ completedLessonsCount }}</strong> out of
          <strong>{{ enrollment.lessonStatus.length }}</strong> completed
        </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div
      [style]="
        media.isActive('sm') || media.isActive('xs')
          ? 'width: 100%'
          : 'width: 650px'
      "
      fxLayout.lt-md="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="space-between center"
    >
      <h1 class="app-header" style="margin: 0.6em">
        {{ enrollment.course.name }}
      </h1>
      <div fxLayout="row" fxLayoutGap="7px">
        <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"
          ><mat-icon>people</mat-icon>
          <span>{{ enrollmentStats?.totalEnrolled || 0 }} enrolled</span>
        </span>
        <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"
          ><mat-icon>verified_user</mat-icon>
          <span>{{ enrollmentStats?.totalCompleted || 0 }} completed</span>
        </span>
      </div>
    </div>
    <mat-card
      style="margin: 0.5em 1em; max-width: 650px"
      class="mat-elevation-z1"
    >
      <mat-card-content>
        <div *ngIf="selectedLesson">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <span>{{ selectedLesson.lesson.title }}</span>
              <mat-icon *ngIf="selectedLesson.complete" style="color: green"
                >check_circle</mat-icon
              >
            </h2>

            <button
              color="accent"
              (click)="markComplete(selectedLesson)"
              mat-stroked-button
            >
              {{
                !selectedLesson.complete
                  ? "MARK AS COMPLETE"
                  : "MARK AS INCOMPLETE"
              }}
            </button>
          </div>
          <div>{{ selectedLesson.lesson.content }}</div>
          <div
            style="margin-top: 1em"
            *ngIf="selectedLesson.lesson.resourceUrl"
          >
            <a
              mat-raised-button
              color="primary"
              [href]="selectedLesson.lesson.resourceUrl"
              target="_blank"
            >
              Resource Link
            </a>
          </div>
        </div>
        <div *ngIf="selectedLesson == null">
          <img
            mat-card-image
            style="height: 50vh; object-fit: cover"
            [src]="
              enrollment.course.imageUrl
                ? enrollment.course.imageUrl
                : '../../../assets/course.png'
            "
            alt=""
          />

          <div>{{ enrollment.course.description }}</div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="selectedLesson == null">
        <button (click)="unEnroll()" mat-stroked-button color="warn">
          Un Enroll
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
