<mat-grid-list cols="2" rowHeight="220" gutterSize="0.5em">
  <mat-grid-tile *ngFor="let course of courses">
    <img
      [routerLink]="'/course/' + course._id"
      style="object-fit: cover; width: 100%; height: 220px; cursor: pointer"
      [src]="course.imageUrl ? course.imageUrl : '../../../assets/course.png'"
    />
    <mat-grid-tile-footer>
      <span style="font-weight: 500; font-size: 15px" mat-line>{{
        course.name
      }}</span>
      <span *ngIf="course.category" mat-line>{{ course.category }}</span>
      <div class="flex-spacer"></div>
      <button mat-raised-button (click)="enroll(course._id)" color="accent">
        Enroll
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
