<mat-grid-list
  [cols]="media.isActive('xs') ? 1 : 2"
  rowHeight="220"
  gutterSize="0.5em"
>
  <mat-grid-tile *ngFor="let course of courses">
    <img
      [routerLink]="'/course/' + course._id"
      class="course-img"
      [src]="course.imageUrl ? course.imageUrl : '../../../assets/course.png'"
    />
    <mat-grid-tile-footer>
      <span style="font-weight: 500; font-size: 15px" mat-line>{{
        course.name
      }}</span>
      <span *ngIf="course.category" mat-line>{{ course.category }}</span>
      <div class="flex-spacer"></div>
      <button mat-raised-button (click)="enroll(course._id)" color="accent">
        Enroll
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
